<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto.SGB.Dao.Properties.Settings.CS1" connectionString="Data Source=ALLYSON-PC\;Initial Catalog=BD_SGB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>